*{margin: 0;padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;color: #333;}
em, i {  font-style: normal;}
.clearfix:after{
	content:'';
	display: block;
	clear:both;
}
html{
	overflow-x: hidden;
}
.limibody{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	position: relative;	
	width: 100%;
	height: 100%;
}
/* 头部 */
header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/opacity-90.png);
	box-sizing: border-box;
	z-index: 10;
}
#header-warp{
	height: 100px;
	transition: all 0.4s ease ;
}
.header-div{
	width: 1200px;
	margin: 0 auto;
}
/* 头部图标 */
.head-logo{
	width: 212px;
	padding-top: 23px;
	display: block;
	float: left;
	transition: all 0.4s ease ;
}
.head-logo img{
	width: 100%;
	display: block;
}
/* 头部导航 */
.head-nav{
	float: right;
	height: 100px;
	line-height: 100px;
	transition: all .4s ease;
}
.head-nav .active a{
	color: #0077c0;
}
.head-nav li{
	position: relative;
	float: left;
	padding: 0 25px;
}
.head-nav li:hover>a{
	color: #0077c0;
}
.head-nav li>a{
	display: block;
	color: #444444;
	font-size: 16px;
}
.head-nav li:hover>a b{
	width: 100%;
}
.head-nav li a b{
	display: block;
	position: relative;
	top: -2px;
	width: 0px;
	margin: 0 auto;
	border-bottom: 2px solid #0280bb;
	transition: all .3s ease-in-out;
}
.posi{
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 114px;
	margin-left: -57px;
}
.posi2{
	width: 200px;
	margin-left: -100px;
}
.posi i{
	display: block;
	margin: 0 auto;
	width: 12px;
	height: 9px;
	background: url(../images/second-nav.png)no-repeat center center/cover;
}
.posi .posi-div{
	padding: 10px 15px;
	border-radius: 10px;
	background-color: rgba(0,0,0,.6);
}
.posi-div a:hover{
	text-decoration: underline;
}
.posi .posi-div a{
	position: relative;
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
/* 头部图组 */
.head-itool{
	float: right;
	padding-top: 28px;
	transition: all .4s;
}
.head-itool li{
	float: left;
	width: 38px;
	height: 38px;
	border: 1px solid #444444;
	margin-left: 20px;
	line-height: 38px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	font-size: 15px;
	user-select: none;
	cursor: pointer;
	transition: all .2s ;
}
.head-itool li:hover{
	border-color:	#0077c0;
}
.head-itool .search-li:hover{
	background: url(../images/icon-search2.png)no-repeat center center/24px;
}
.head-itool .search-li{
	background: url(../images/icon-search.png) no-repeat center center/24px;
}
.head-itool .icon-li:hover{
	background: url(../images/icon-li2.png)no-repeat center center/24px;
}
.head-itool .icon-li{
	background: url(../images/icon-li.png) no-repeat center center/24px;
}
/* 小屏下的按钮/页面 */
.icon-menu{
	width: 30px;
	height: 30px;
	margin-top: 6px;
	display: none;
	float: right;
	background: url(../images/icon-menu.png) no-repeat center center/80%;
}
.icon-menu-close{
	width: 30px;
	height: 30px;
	margin-top: 6px;
	display: none;
	float: right;
	background: url(../images/icon-menu-close.png)no-repeat center center/100%;
}
.menu-list-warp{
	width: 100%;
	position: absolute;
	top: 54px;
	height: 888px;
	background: rgba(0,0,0,.8);
	display: none;
	visibility: hidden;
	opacity: 0;
	z-index: 99;
}
.menu-list{
	position: absolute;
	top: 54px;
	left: 0;
	height:888px;
	overflow-y: scroll;
	width: 100%;
	visibility: hidden;
	display: none;
	z-index: 100;
}
.menu-list ul li{
	position: relative;
	background: #006fb0;
	line-height: 49px;
	padding: 0 18px;
	border-bottom: 1px solid #0082d0;
	opacity: 0;
	transform: translate3d(0, -80px, 0);
	transition: all 0.5s;
}
.menu-list ul li:first-child{
	transition-delay: 0.05s;
}
.menu-list ul li:nth-child(2){
	transition-delay: 0.1s;
}
.menu-list ul li:nth-child(3){
	transition-delay: 0.15s;
}
.menu-list ul li:nth-child(4){
	transition-delay: 0.2s;
}
.menu-list ul li a{
	width: 85%;
	display: block;
	color: #fff;
}
.menu-list ul li .menuson{
	margin-left: 20px;
	height: 0px;
	overflow: hidden;
}
.menu-list ul li .menuson a{
	display: block;
	line-height: 43px;
	font-size: 16px;
}
.menu-list ul li .menuson a:hover{
	color: orangered;
}
.menu-list ul li .arrow{
	position: absolute;
	top: 20px;
	right: 16px;
	display: block;
	width: 18px;
	height: 17px;
	cursor: pointer;
	background: url(../images/icon-sq.png)no-repeat center center/100%;
	transition: all .5s ease;
}
/* 隐藏菜单栏 */
.side-warp{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/opacity-30.png);
	z-index: -1;
	opacity: 0;
	transition: all .5s ease;
}
.side{
	position: fixed;
	right: -600px;
	top: 0;
	z-index: 101;
	width: 600px;
	background-color: #fff;
	box-shadow: 0 5px 14px 3px #f2f2f2 inset;
	height: 100%;
}
.side .side-top{
	height: 101px;
	border-bottom: 1px solid #dedede;
	padding: 42px 42px 0px 42px;
	box-sizing: border-box;
}
.side .side-top span{
	font-size: 16px;
	color: #444444;
}
.side .side-top i{
	display: block;
	float: right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background: url(../images/icon-close.png)no-repeat center center/cover;
}
.side-bottom{
	padding: 38px 0px 0px 70px;
}
.side-bottom .w200{
	width: 200px;
}
.side-bottom .w160{
	width: 160px;
}
.side-bottom ul{
	float: left;
	width: 140px;
	height: 158px;
	margin-bottom: 50px;
}
.side-bottom ul .side-bottom-li1{
	    line-height: 16px;
	    font-size: 15px;
	    font-weight: bold;
		color: #000;
		padding-left: 10px;
		margin-bottom: 20px;
		margin-left: -12px;
		border-left: 2px solid #0077c0;
}
.side-bottom ul li a:hover{
	color: #0077c0;
}
.side-bottom ul li a{
	display: block;
	line-height: 25px;
	font-size: 14px;
	color: #707070;
}
/* 头部下的大图 */
.carousel{
	position: relative;
}
.carousel img{
	width: 100%;
	display: block;
}
.carousel-div{
	width: 1200px;
	margin: 0 auto;
}
.carousel-div2{
	position: absolute;
	top: 88px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 1200px;
	height: 99px;
}
.carousel-div2 h2{
	font-size: 40px;
	color: #fff;
	line-height: 58px;
	margin-bottom: 4px;
	letter-spacing: 10px;
	text-shadow: 0 0 8px rgb(0 0 0 / 80%);
}
.carousel-div2 p{
	color: #fff;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-shadow: 0 0 8px rgb(0 0 0 / 80%);
}
/* 公司介绍 */
.company{
	padding: 74px 0px 0px 0px ;
	background: url(../images/about-highfloor.png)no-repeat right bottom/760px;
}
.company-div{
	width: 1200px;
	margin: 0 auto;
}
.company-div p{
	margin-bottom: 47px;
	line-height: 30px;
	font-size: 16px;
	color: #666;
	display: inline-block;
}
.company-div p:first-child{
	width: 935px;
}
.company-div p:nth-child(2){
	width: 855px;
}
.company-div p:nth-child(3){
		width: 795px;
}
/* 介绍人物 */
.about{
	background-color: #f7faff;
	padding: 80px 0px 80px 0px ;
}
.about-div{
	width: 1200px;
	margin: 0 auto;
}
.about-l{
	width: 50%;
	float: left;
	height: 439px;
}
.about-l img{
	display: block;
	width: 100%;
}
.about-r{
	width: 50%;
	height: 439px;
	padding: 45px 80px 0 60px;
	background-color: #FFF;
	box-sizing: border-box;
	float: left;
}
.about-r h2{
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}
.about-r h3{
	font-size: 22px;
	color: #666;
	line-height: 28px;
	text-align: center;
	font-weight: normal;
}
.about-r p{
	margin-top: 32px;
	font-size: 16px;
	color:  #666;
	line-height: 32px;
	overflow: hidden;
}
/* 发展历程 */
.develop{
	padding: 75px 0px 0px 0px ;
}
.develop-div{
	width: 1200px;
	margin: 0 auto;
}
.develop-tit{
	text-align: center;
}
.develop-tit h2{
	line-height: 40px;
	font-size: 28px;
	color: #333;
}
.develop-tit p{
	padding: 0 82px;
	line-height: 28px;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}

.develop-swiper{
	width: 100%;
    height: 350px;
    margin-top: 40px;
    background-color: #fff;
}
.swiper-wrapper .develop-slide{
	position: relative;
	width: 1200px;
	height: 260px;
	color: #fff;
	overflow: hidden;
}
.develop-slide-div{
	width: 1080px;
	height: 240px;
	margin: 10px auto 0;
	box-shadow: 0 0 14px 3px rgb(102 102 102 / 10%);
}
.develop-slide-div span{
	display: block;
	float: left;
	width: 240px;
	height: 240px;
	line-height: 240px;
	font-size: 50px;
	text-align: center;
	color: #f69533;
	font-weight: bold;
}
.develop-slide-div div{
	float: left;
	width: 640px;
	height: 180px;
	padding: 30px 0 0 0;
	overflow: hidden;
}
.develop-slide-div div a{
	display: block;
	color: #444;
	line-height: 36px;
	font-size: 16px;
	overflow: hidden;
}
.develop-slide-div div a:hover{
	color: #006fb0;
}
.develop-slide-div >a{
	display: block;
	float: left;
	width: 200px;
	height: 240px;
	padding-top: 85px;
	line-height: 34px;
	font-size: 16px;
	text-align: center;
	background-color: #e5f1f9;
	box-sizing: border-box;
}
.develop-slide-div >a:hover{
	color: #006fb0;
}
.develop-slide-div >a em{
	display: block;
}
.develop-swiper .develop-prev{
	position: absolute;
	top: auto;
	bottom: 24px;
	width: 40px;
	height: 40px;
	margin-top: 0;
	border: 1px solid #373737;
	border-radius: 50px;
	background: url(../images/icon-black4-l.png)no-repeat center center/24px;
	background-color: #fff;
	z-index: 25;
}
.develop-swiper .develop-prev::after{
	content: "";
}
.develop-swiper .develop-next{
	position: absolute;
	top: auto;
	bottom: 24px;
	width: 40px;
	height: 40px;
	margin-top: 0;
	border: 1px solid #373737;
	border-radius: 50px;
	background: url(../images/icon-black4-r.png)no-repeat center center/24px;
	background-color: #fff;
	z-index: 25;
}
.develop-swiper .develop-next::after{
	content: "";
}
.develop-div .develop-swiper .develop-pagin{
	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 1080px;
	height: 42px;
	display: flex;
	justify-content: center;
}
.develop-pagin .develop-span{
	position: relative;
	display: inline-block;
	width: 20%;
	height: 42px;
	margin: 0 50px !important;
	line-height: 42px;
	color: #999;
	opacity: 1;
	cursor: pointer;
}
.develop-pagin .develop-span:before{
	content: "";
	position: absolute;
	top: -32px;
	left: 0;
	right: 0;
	margin: auto;
	width: 29px;
	height: 35px;
	background: url(../images/icon-wz2.png)no-repeat center bottom;
	z-index: 20;
}
.develop-pagin .develop-active{
	color: #f69533;
}
.develop-pagin .develop-active:before{
	background: url(../images/icon-wz.png)no-repeat center center/cover;
}
.develop-pagin::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 43px;
	width: 100%;
	height: 3px;
	background-color: 	#f5f5f5;
}
.develop-swiper .swiper-button-next.swiper-button-disabled,.develop-swiper .swiper-button-prev.swiper-button-disabled{
	opacity: 1;
}
/* 品牌故事 */
.brand{
	padding: 75px 0px 295px 0px;
}
.brand-div{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.brand-video{
	position: relative;
	margin-top: 10px;
}
.brand-video img {
	display: block;
	width: 100%;
}
.brand-mask{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 60px;
	height: 60px;
}
.brand-mask img{
	display: block;
	width: 100%;
}
/* 品牌故事视频 */
.newcenter-warp{
	width: 100%;
	position: absolute;
	top: 0px;
	height: 101%;
	background: rgba(0,0,0,.8);
	display: none;
	opacity:1;
	z-index: 99;
}
.newcenter-warp-list{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	width: 902px;
	height: 534px;
	display: none;
	z-index: 102;
}
.newcenter-warp-div{
	width: 100%;
	position: relative;
}
.newcenter-close{
	position: absolute;
	right: 22px;
	top: 22px;
	width: 37px;
	height: 37px;
	z-index: 105;
	background: url(../images/icon-close2.png)no-repeat ;
	cursor: pointer;
}
.newcenter-warp-div video{
	width: 100%;
	height: 100%;
	display: block;
}
.newcenter-warp-div p{
	width: 100%;
	    height: 55px;
	    line-height: 55px;
	    background: #424a5b;
	    font-size: 16px;
	    color: #fff;
		text-indent: 30px;
		overflow: hidden;
}
/* 党组织建设 */
.construction{
	margin-bottom: 42px;
	padding: 180px 0 70px 0px;
	background: #0070ca url(../images/about-cpcbg.png) no-repeat right bottom;
}
.construction-div{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.construction-top{
	position: absolute;
	top: -415px;
	left: 0;
}
.construction-top-div{
	width: 100%;
	height: 240px;
	padding: 54px 50px;
	margin-top: 38px;
	border: 1px solid #eee;
	line-height: 32px;
	font-size: 16px;
	color: #666;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 14px 3px rgb(102 102 102 / 10%);
}
.construction-top-div p{
	height: 128px;
	overflow: hidden;
}
.construction-ul{
	margin-top: 56px;
}
.construction-ul li{
	float: left;
	width: 25%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border-right: 1px solid #66add9;
	box-sizing: border-box;
}
.construction-ul li p{
	display: inline-block;
	font-size: 40px;
	color: #fff;
	vertical-align: top;
}
.construction-ul li em{
	padding-left: 6px;
	line-height: 40px;
	font-size: 15px;
	vertical-align: top;
}
.construction-ul li >span{
	display: block;
	margin-top: 25px;
	display: block;
	color: #fff;
}
/* 底部 */
.footer{
	padding: 64px 0px 10px 0px;
	background-color: #f2f2f2;
}
.footer-div{
	width: 1200px;
	margin: 0 auto;
}
.footer-ul{
	margin-bottom: 85px;
}
.footer-ul li{
	float: left;
	width: 226px;
}
.footer-ul li:last-of-type{
	width: 70px;
}
.footer-ul li>a{
	display: block;
	height: 32px;
	margin-bottom: 10px;
	line-height: 32px;
	font-size: 16px;
	color: #333;
}
.footer-ul li>div{
	width: 226px;
}
.footer-ul li div a{
	display: block;
	height: 28px;
	line-height: 28px;
	padding-right: 10px;
	font-size: 14px;
	overflow: hidden;
	color: #666;
}
.footer-foot{
	height: 58px;
	border-top: 1px solid #dfdfdf;
	line-height: 58px;
	font-size: 16px;
	color: #999999;
}
.footer-l{
	float: left;
}
.footer-l a{
	padding: 0 10px;
	color: #999999;
	font-size: 14px;
}
.footer-r{
	float: right;
	margin-right: 20px;
}
.footer-r >a{
	color: #666;
	font-size: 14px;
}
.footer-r-div{
	float:right;
}
.footer-r-div a{
	position: relative;
	display: inline-block;
	width: 26px;
    height: 21px;
    margin-left: 20px;
    background: url(../images/icon-wchat.png) no-repeat center center/cover;
    vertical-align: middle;
}
.footer-r-div a:nth-child(2){
    background: url(../images/icon-sina.png) no-repeat center center/cover;
}
.footer-r-div a:nth-child(3){
    background: url(../images/icon-dy.png) no-repeat center center/cover;
}
.footer-r-div a:hover .footer-posi{
	display: block;
}
.footer-posi{
	display: none;
	position: absolute;
	top: -173px;
	left: -70px;
	z-index: 99;
	width: 160px;
    height: 160px;
    box-shadow: 0 0 5px #ccc;
	background: #fff;
    border-radius: 5px;
}
.weixin{
	display: block;
	width: 110px;
	margin: 6px auto 0px;
}
.footer-posi p{
	padding: 0 6px;
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 18px;
}
.footer-posi em{
	position: absolute;
	bottom: -12px;
    left: 50%;
    margin-left: -10px;
	z-index: 999;
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid #fff;
}
/* 回到顶部 */
.gotop{
	display: none;
	position: fixed;
	right: 40px;
    bottom: 90px;
	width: 80px;
	height: 80px;
	background:#f4f4f4 url(../images/icon-gotop.png)no-repeat center center/32px;
	box-shadow: 0 5px 14px 3px rgb(0 0 0 / 18%);
	z-index: 9;
}
/* 响应式 */
@media screen and (max-width:1680px) {
	/* 公司介绍 */
	.company{
		background-size: 710px !important;
	}
	.company-div p:first-child{
		width: 884px;
	}
	.company-div p:nth-child(2){
		width: 804px;
	}
	.company-div p:nth-child(3){
			width: 755px;
	}
}

@media screen and (max-width:1550px) {
	/* 公司介绍 */
	.company-div p:first-child{
		width: 860px;
	}
	.company-div p:nth-child(2){
		width: 725px;
	}
	.company-div p:nth-child(3){
			width:680px;
	}
}

@media screen and (max-width:1400px) {
	/* 公司介绍 */
	.company{
		background-size: 660px !important;
	}
	.company-div p:first-child{
		width: 760px;
	}
	.company-div p:nth-child(2){
		width: 680px;
	}
	.company-div p:nth-child(3){
			width: 600px;
	}
}

@media screen and (max-width: 1220px){
	/* 头部 */
	.header-div{
		width: 1000px;
	}
	.icon-li{
		display: none;
	}
	.head-nav li{
		padding: 0 15px;
	}
	.icon-menu-close{
		display: none;
	}
	.icon-menu{
		display: none;
	}
	.menu-list-warp{
		display: none;
	}
	.menu-list{
		display: none;
	}
	/* 头部下的大图 */
	.carousel-div {
	    width: 1000px;
	}
	.carousel-div2{
		width: 1000px;
	}
	/* 公司介绍 */
	.company{
		background-size: 590px !important;
	}
	.company-div{
		width: 1000px;
	}
	.company-div p:first-child{
		width: 100%;
	}
	.company-div p:nth-child(2){
		width: 570px;
	}
	.company-div p:nth-child(3){
			width:495px;
	}
	/* 介绍人物 */
	.about-div{
		width: 1000px;
	}
	.about-l{
		height: 366px;
	}
	.about-r{
		height: 366px;
		padding: 25px 30px 0px 30px;
	}
	.about-r p{
		margin-top: 10px;
	}
	/* 发展历程 */
	.develop-div{
		width: 1000px;
	}
	.develop-div .develop-swiper .develop-pagin{
		width: 980px;
	}
	.develop-slide-div{
		width: 980px;
	}
	.develop-slide-div span{
		width: 210px;
	}
	.develop-slide-div div{
		width: 590px;
	}
	.develop-slide-div >a{
		width: 180px;
	}
	/* 品牌故事 */
	.brand-div{
		width: 1000px;
	}
	.brand-video{
		width: 1000px;
	}
	/* 党组织建设 */
	.construction-div{
		width: 1000px;
	}
	/* 底部 */
		.footer-div{
			width: 1000px;
		}
		.footer-ul{
			margin-bottom: 60px;
		}
		.footer-ul li{
			width: 186px;
		}
}

@media screen and (max-width:1055px){
	/* 公司介绍 */
	.company{
		background-size: 566px !important;
	}
}

@media screen and (max-width:1024px){
	/* 头部 */
	.header-div{
		width: 800px;
	}
	.head-logo{
		margin-right: 100px;
	}
	.head-itool{
		display: none;
	}
	.head-nav li{
		padding: 0 10px;
	}
	.icon-menu-close{
		display: none;
	}
	.icon-menu{
		display: none;
	}
	.menu-list-warp{
		display: none;
	}
	.menu-list{
		display: none;
	}
	.swiper-container{
		min-width: 800px;
	}
	/* 头部下的大图 */
	.carousel-div {
	    width: 800px;
	}
	.carousel-div2{
		width: 800px;
	}
	/* 公司介绍 */
	.company{
		background-size: 522px !important;
	}
	.company-div{
		width: 800px;
	}
	.company-div p:nth-child(2){
		width: 500px;
	}
	.company-div p:nth-child(3){
			width:425px;
	}
	/* 介绍人物 */
	.about{
		padding: 60px 0;
	}
	.about-div{
		width: 800px;
	}
	.about-l{
		height: 293px;
	}
	.about-r{
		height: 293px;
		padding: 15px 20px 0px 20px;
	}
	.about-r h2{
		margin-bottom: 8px;
		font-size: 22px;
	}
	.about-r h3{
		font-size: 20px;
		line-height: 24px;
	}
	.about-r p{
		margin-top: 5px;
		line-height: 26px;
	}
	/* 发展历程 */
	.develop-div{
		width: 800px;
	}
	.develop-div .develop-swiper .develop-pagin{
		width: 780px;
	}
	.develop-slide-div{
		width: 780px;
	}
	.develop-slide-div span{
		width: 150px;
		font-size: 40px;
	}
	.develop-slide-div div{
		width: 520px;
	}
	.develop-slide-div >a{
		width: 110px;
	}
	.develop-pagin .develop-span{
		margin: 0px 30px !important;
	}
	/* 品牌故事 */
	.brand-div{
		width: 800px;
	}
	.brand-video{
		width: 800px;
	}
	/* 品牌故事视频 */
	.newcenter-warp-list{
		width: 712px;
		height: 415px;
	}
	/* 党组织建设 */
	.construction{
		padding: 180px 0px 48px 0px;
	}
	.construction-div{
		width: 800px;
	}
	.construction-top-div{
		padding: 35px 35px;
	}
	.construction-top-div p{
		height: 192px;
	}
	/* 底部 */
	.footer-div{
		width: 800px;
	}
	.footer-ul li{
		width: 146px;
	}
	.footer-foot{
		height: auto;
		line-height: 45px;
	}
	.footer-l {
		float: none;
		display: block;
		text-align: center;
	}
	.footer-r {
		float: none;
		display: block;
		text-align: center;
	}
	.footer-r-div {
	    float: none;
	}
	/* 回到顶部 */
	.gotop{
		width: 70px;
		height: 70px;
	}
}


@media screen and (max-width: 980px){
	/* 公司介绍 */
	.company{
		background-size: 450px !important;
	}
	.company-div{
		width: 800px;
	}
	.company-div p:nth-child(2){
		width: 512px;
	}
	.company-div p:nth-child(3){
			width:462px;
	}
	/* 介绍人物 */
	.about-div{
		width: 800px;
	}
	.about-l{
		position: relative;
		background-color: #fff;
	}
	.about-l img{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 94%;
	}
	.about-r h2{
		margin-bottom: 8px;
		font-size: 22px;
	}
	.about-r h3{
		font-size: 20px;
		line-height: 24px;
	}
	.about-r p{
		margin-top: 5px;
		line-height: 26px;
	}
	/* 发展历程 */
	.develop-div{
		width: 800px;
	}
	/* 品牌故事 */
	.brand-div{
		width: 800px;
	}
	.brand-video{
		width: 800px;
	}
	/* 党组织建设 */
	.construction-div{
		width: 800px;
	}
	.construction-top-div{
		height: auto;
		padding:40px 40px;
	}
	.construction-top-div p{
		height: 190px;
	}
	.construction-ul{
		padding-top: 24px;
	}
	/* 底部 */
	.footer-div{
		width: 800px;
	}
}
@media screen and (max-width: 860px){
	/* 头部 */
	#header-warp{
		height: 54px !important;
		padding: 8px 0px !important;
	}
	.header-div{
		width: 100%;
		    padding: 0 10px;
		    box-sizing: border-box;
	}
	.head-logo{
		width: 170px !important;
		    height: 39px;
		    margin-right: 0;
		    padding-top: 0!important;
	}
	.head-nav{
		display: none;
	}
	.icon-menu-close{
		display: block;
	}
	.icon-menu{
		display: block;
	}
	.menu-list-warp{
		display: block;
	}
	.menu-list{
		display: block;
	}
	.swiper-container{
		min-width: 100%;
	}
	/* 头部下的大图 */
	.carousel-div {
	    width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.carousel-div2{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	/* 公司介绍 */
	.company{
		padding-top: 48px !important;
		background-size: 455px !important;
	}
	.company-div{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
		background-color: rgba(255,255,255,.9);
	}
	.company-div p:nth-child(2){
		width: 100%;
	}
	.company-div p:nth-child(3){
			width:100%;
	}
	.company-div p{
		margin-bottom: 30px;
	}
	/* 介绍人物 */
	.about-div{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.about-r h3{
		font-size: 18px;
		height: 24px;
		overflow: hidden;
	}
	/* 发展历程 */
	.develop-div{
		width:100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.develop-slide-div{
		width: 96%;
	}
	.develop-slide-div span{
		width: 15%;
		font-size: 30px;
	}
	.develop-slide-div div{
		width: 73%;
	}
	.develop-slide-div >a{
		width: 12%;
	}
	.develop-div .develop-swiper .develop-pagin{
		width: 100%;
	}
	.develop-pagin .develop-span{
		width: 0;
		margin: 0px 25px !important;
	}
	/* 品牌故事 */
	.brand-div{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.brand-video{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	/* 品牌故事视频 */
	.newcenter-warp-list{
		width: 540px;
		height: 325px;
	}
	/* 党组织建设 */
	.construction{
		padding: 180px 0px 55px 0px;
	}
	.construction-div{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.construction-top-div{
		width: 96%;
		margin: 38px auto 0;
		padding: 28px 22px;
	}
	.construction-top-div p{
		height: 190px;
	}
	.construction-ul{
		padding-top: 4px;
	}
	/* 底部 */
	.footer{
		padding: 10px 0px 10px;
	}
	.footer-div{
		width: 100%;
		padding: 0px 10px;
		box-sizing: border-box;
	}
	.footer-ul{
		display: none;
	}
	.footer-foot{
		border-top: 0;
	}
}

@media screen and (max-width: 768px){
	/* 头部下的大图 */
	.carousel-div2{
		top: 70px;
	}
	.carousel-div2 h2{
		height: 45px;
		line-height: 45px;
		font-size: 28px;
	}
	.carousel-div2 p{
		font-size: 16px;
		letter-spacing: 2px;
	}
	/* 介绍人物 */
	.about-l{
		height: 260px;
	}
	.about-r{
		height: 260px;
	}
	.about-r h2{
		margin-bottom: 8px;
		font-size: 22px;
	}
	.about-r h3{
		font-size: 20px;
		line-height: 24px;
	}
	.about-r p{
		margin-top: 5px;
		line-height: 26px;
	}
	/* 发展历程 */
	.develop-slide-div{
		width: 98%;	
	}
	.develop-slide-div span{
		width: 15%;
		font-size: 26px;
	}
	/* 品牌故事视频 */
	.newcenter-warp-list{
		width: 460px;
		height: 275px;
	}
	/* 党组织建设 */
	.construction{
		padding: 180px 0px 36px 0px;
	}
	.construction-top-div p{
		height: 220px;
	}
	/* 回到顶部 */
	.gotop{
		width: 70px;
		height: 70px;
	}
}
@media screen and (max-width: 600px){
	/* 介绍人物 */
	.about{
		padding: 54px 0;
	}
	.about-l{
		width: 100%;
		height: auto;
	}
	.about-l img{
		position: inherit;
		width: 100%;
	}
	.about-r{
		padding: 10px 15px 15px;
		width: 100%;
		height: auto;
	}
	.about-r h2{
		margin-bottom: 8px;
		font-size: 22px;
	}
	.about-r h3{
		font-size: 20px;
		line-height: 24px;
	}
	.about-r p{
		margin-top: 5px;
		line-height: 26px;
	}
	/* 发展历程 */
	.develop-slide-div{
		position: relative;
	}
	.develop-slide-div span{
		display: block;
		float: none;
		width: 100%;
		height: 40px;
		padding: 10px 0px 0px 10px;
		line-height: 40px;
		text-align: left;
		box-sizing: border-box;
	}
	.develop-slide-div div{
		float: none;
		width: 100%;
		padding: 8px 10px 0px 10px;
		box-sizing: border-box;
	}
	.develop-slide-div >a{
		float: none;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 120px;
		height: 30px;
		padding: 0;
		line-height: 30px;
		font-size: 14px;
	}
	.develop-slide-div >a em{
		display: inline;
	}
	/* 品牌故事视频 */
	.newcenter-warp-list{
		width: 460px;
		height: 275px;
	}
	/* 党组织建设 */
	.construction{
		padding: 215px 0px 40px 0px;
	}
	.construction-top{
		top: -450px;
	}
	.construction-div{
		width: 100%;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.construction-top-div{
		padding: 15px;
	}
	.construction-top-div p{
		height: 260px;
	}
	.construction-ul{
		padding-top: 10px;
	}
	.construction-ul li p{
		font-size: 32px;
	}
	.construction-ul li >span{
		margin-top: 18px;
	}
	/* 回到顶部 */
	.gotop{
		width: 60px;
		height: 60px;
	}
}
@media screen and (max-width: 560px){
	/* 头部下的大图 */
	.carousel img{
		margin-top: 54px;
	}
	.carousel-div2{
		top: 12px;
	}
	/* 发展历程 */
	.develop-div .develop-swiper .develop-pagin{
		display: none;
	}
	.develop-swiper .develop-prev{
		left: 35%;
		bottom: 15px;
	}
	.develop-swiper .develop-next{
		right: 35%;
		bottom:15px;
	}
	/* 品牌故事视频 */
	.newcenter-warp-list{
		width:350px;
		height: 210px;
	}
	/* 党组织建设 */
	.develop-tit p{
		padding: 0 18px;
	}
	.construction-top-div p{
		height: 284px;
	}
	.construction-ul li{
		width: 50%;
		margin-bottom: 25px;
	}
	.construction-ul li >span{
		margin-top: 10px;
	}
	/* 回到顶部 */
	.gotop{
		width: 50px;
		height: 50px;
		background-size: 26px;
	}
}
@media screen and (max-width: 480px){
	/*品牌故事视频 */
	.newcenter-warp-list{
		width:350px;
		height: 210px;
	}
	/* 党组织建设 */
	.construction-top-div p{
		height: 315px;
	}
	.construction-ul{
		padding-top: 40px;
	}
	/* 底部 */
	.footer-l{
		display: none;
	}
	.footer-r>a{
		display: none;
	}
	/* 回到顶部 */
	.gotop{
		width: 45px;
		height: 45px;
	}
}
@media screen and (max-width: 414px){
	/* 党组织建设 */
	.construction-top-div p{
		height: 410px;
	}
	.construction-ul{
		padding-top:145px;
	}
}
@media screen and (max-width: 375px){
	/* 品牌故事视频 */
	.newcenter-warp-list{
		width:300px;
		height: 180px;
	}
	/* 党组织建设 */
	.construction-top-div p{
		height: 450px;
	}
	.construction-ul{
		padding-top: 200px;
	}
}
@media screen and (max-width: 360px){
	/* 党组织建设 */
	.construction-top-div p{
		height: 475px;
	}
	.construction-ul{
		padding-top: 250px;
	}
}